<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytec.sdproperty.dao.TbIpcMapper" >
  <resultMap id="BaseResultMap" type="com.anytec.sdproperty.data.model.TbIpc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="door_id" property="doorId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="camera_id" property="cameraId" jdbcType="VARCHAR" />
    <result column="snap_timestamp" property="snapTimestamp" jdbcType="VARCHAR" />
    <result column="netaddress" property="netaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, address, door_id, create_time, camera_id, snap_timestamp, netaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.anytec.sdproperty.data.model.TbIpcExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_ipc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_ipc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_ipc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.anytec.sdproperty.data.model.TbIpcExample" >
    delete from tb_ipc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.anytec.sdproperty.data.model.TbIpc" >
    insert into tb_ipc (id, name, address, 
      door_id, create_time, camera_id, 
      snap_timestamp, netaddress)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{doorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{cameraId,jdbcType=VARCHAR}, 
      #{snapTimestamp,jdbcType=VARCHAR}, #{netaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.anytec.sdproperty.data.model.TbIpc" >
    insert into tb_ipc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="doorId != null" >
        door_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cameraId != null" >
        camera_id,
      </if>
      <if test="snapTimestamp != null" >
        snap_timestamp,
      </if>
      <if test="netaddress != null" >
        netaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        #{doorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cameraId != null" >
        #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="snapTimestamp != null" >
        #{snapTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="netaddress != null" >
        #{netaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.anytec.sdproperty.data.model.TbIpcExample" resultType="java.lang.Integer" >
    select count(*) from tb_ipc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_ipc
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.doorId != null" >
        door_id = #{record.doorId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cameraId != null" >
        camera_id = #{record.cameraId,jdbcType=VARCHAR},
      </if>
      <if test="record.snapTimestamp != null" >
        snap_timestamp = #{record.snapTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="record.netaddress != null" >
        netaddress = #{record.netaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_ipc
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      door_id = #{record.doorId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      camera_id = #{record.cameraId,jdbcType=VARCHAR},
      snap_timestamp = #{record.snapTimestamp,jdbcType=VARCHAR},
      netaddress = #{record.netaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.anytec.sdproperty.data.model.TbIpc" >
    update tb_ipc
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        door_id = #{doorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cameraId != null" >
        camera_id = #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="snapTimestamp != null" >
        snap_timestamp = #{snapTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="netaddress != null" >
        netaddress = #{netaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anytec.sdproperty.data.model.TbIpc" >
    update tb_ipc
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      door_id = #{doorId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      camera_id = #{cameraId,jdbcType=VARCHAR},
      snap_timestamp = #{snapTimestamp,jdbcType=VARCHAR},
      netaddress = #{netaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>