<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytec.sdproperty.dao.TbGuestRoleMapper" >
  <resultMap id="BaseResultMap" type="com.anytec.sdproperty.data.model.TbGuestRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="security_level" property="securityLevel" jdbcType="INTEGER" />
    <result column="auto_open_door" property="autoOpenDoor" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="limit_time" property="limitTime" jdbcType="BIT" />
    <result column="open_time" property="openTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, security_level, auto_open_door, create_time, limit_time, open_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.anytec.sdproperty.data.model.TbGuestRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_guest_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_guest_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_guest_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.anytec.sdproperty.data.model.TbGuestRoleExample" >
    delete from tb_guest_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.anytec.sdproperty.data.model.TbGuestRole" >
    insert into tb_guest_role (id, name, security_level, 
      auto_open_door, create_time, limit_time, 
      open_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{securityLevel,jdbcType=INTEGER}, 
      #{autoOpenDoor,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{limitTime,jdbcType=BIT}, 
      #{openTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.anytec.sdproperty.data.model.TbGuestRole" >
    insert into tb_guest_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="securityLevel != null" >
        security_level,
      </if>
      <if test="autoOpenDoor != null" >
        auto_open_door,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="limitTime != null" >
        limit_time,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="securityLevel != null" >
        #{securityLevel,jdbcType=INTEGER},
      </if>
      <if test="autoOpenDoor != null" >
        #{autoOpenDoor,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limitTime != null" >
        #{limitTime,jdbcType=BIT},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.anytec.sdproperty.data.model.TbGuestRoleExample" resultType="java.lang.Integer" >
    select count(*) from tb_guest_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_guest_role
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.securityLevel != null" >
        security_level = #{record.securityLevel,jdbcType=INTEGER},
      </if>
      <if test="record.autoOpenDoor != null" >
        auto_open_door = #{record.autoOpenDoor,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.limitTime != null" >
        limit_time = #{record.limitTime,jdbcType=BIT},
      </if>
      <if test="record.openTime != null" >
        open_time = #{record.openTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_guest_role
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      security_level = #{record.securityLevel,jdbcType=INTEGER},
      auto_open_door = #{record.autoOpenDoor,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      limit_time = #{record.limitTime,jdbcType=BIT},
      open_time = #{record.openTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.anytec.sdproperty.data.model.TbGuestRole" >
    update tb_guest_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="securityLevel != null" >
        security_level = #{securityLevel,jdbcType=INTEGER},
      </if>
      <if test="autoOpenDoor != null" >
        auto_open_door = #{autoOpenDoor,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limitTime != null" >
        limit_time = #{limitTime,jdbcType=BIT},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anytec.sdproperty.data.model.TbGuestRole" >
    update tb_guest_role
    set name = #{name,jdbcType=VARCHAR},
      security_level = #{securityLevel,jdbcType=INTEGER},
      auto_open_door = #{autoOpenDoor,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      limit_time = #{limitTime,jdbcType=BIT},
      open_time = #{openTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>