<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytec.sdproperty.dao.TbSnapshotFaceMapper" >
  <resultMap id="BaseResultMap" type="com.anytec.sdproperty.data.model.TbSnapshotFace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="snapshot_id" property="snapshotId" jdbcType="INTEGER" />
    <result column="guest_code" property="guestCode" jdbcType="VARCHAR" />
    <result column="ipc_id" property="ipcId" jdbcType="INTEGER" />
    <result column="galleries" property="galleries" jdbcType="VARCHAR" />
    <result column="meta" property="meta" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="x1" property="x1" jdbcType="INTEGER" />
    <result column="x2" property="x2" jdbcType="INTEGER" />
    <result column="y1" property="y1" jdbcType="INTEGER" />
    <result column="y2" property="y2" jdbcType="INTEGER" />
    <result column="normalized" property="normalized" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="photo_hash" property="photoHash" jdbcType="VARCHAR" />
    <result column="person_id" property="personId" jdbcType="INTEGER" />
    <result column="face_id" property="faceId" jdbcType="BIGINT" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="confidence" property="confidence" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, snapshot_id, guest_code, ipc_id, galleries, meta, photo, timestamp, x1, x2, y1, 
    y2, normalized, age, thumbnail, photo_hash, person_id, face_id, gender, confidence
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFaceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_snapshot_face
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_snapshot_face
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_snapshot_face
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFaceExample" >
    delete from tb_snapshot_face
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFace" >
    insert into tb_snapshot_face (id, snapshot_id, guest_code, 
      ipc_id, galleries, meta, 
      photo, timestamp, x1, 
      x2, y1, y2, normalized, 
      age, thumbnail, photo_hash, 
      person_id, face_id, gender, 
      confidence)
    values (#{id,jdbcType=INTEGER}, #{snapshotId,jdbcType=INTEGER}, #{guestCode,jdbcType=VARCHAR}, 
      #{ipcId,jdbcType=INTEGER}, #{galleries,jdbcType=VARCHAR}, #{meta,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{x1,jdbcType=INTEGER}, 
      #{x2,jdbcType=INTEGER}, #{y1,jdbcType=INTEGER}, #{y2,jdbcType=INTEGER}, #{normalized,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{thumbnail,jdbcType=VARCHAR}, #{photoHash,jdbcType=VARCHAR}, 
      #{personId,jdbcType=INTEGER}, #{faceId,jdbcType=BIGINT}, #{gender,jdbcType=VARCHAR}, 
      #{confidence,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFace" >
    insert into tb_snapshot_face
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="snapshotId != null" >
        snapshot_id,
      </if>
      <if test="guestCode != null" >
        guest_code,
      </if>
      <if test="ipcId != null" >
        ipc_id,
      </if>
      <if test="galleries != null" >
        galleries,
      </if>
      <if test="meta != null" >
        meta,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="x1 != null" >
        x1,
      </if>
      <if test="x2 != null" >
        x2,
      </if>
      <if test="y1 != null" >
        y1,
      </if>
      <if test="y2 != null" >
        y2,
      </if>
      <if test="normalized != null" >
        normalized,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="photoHash != null" >
        photo_hash,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="faceId != null" >
        face_id,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="confidence != null" >
        confidence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="snapshotId != null" >
        #{snapshotId,jdbcType=INTEGER},
      </if>
      <if test="guestCode != null" >
        #{guestCode,jdbcType=VARCHAR},
      </if>
      <if test="ipcId != null" >
        #{ipcId,jdbcType=INTEGER},
      </if>
      <if test="galleries != null" >
        #{galleries,jdbcType=VARCHAR},
      </if>
      <if test="meta != null" >
        #{meta,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="x1 != null" >
        #{x1,jdbcType=INTEGER},
      </if>
      <if test="x2 != null" >
        #{x2,jdbcType=INTEGER},
      </if>
      <if test="y1 != null" >
        #{y1,jdbcType=INTEGER},
      </if>
      <if test="y2 != null" >
        #{y2,jdbcType=INTEGER},
      </if>
      <if test="normalized != null" >
        #{normalized,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="photoHash != null" >
        #{photoHash,jdbcType=VARCHAR},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="faceId != null" >
        #{faceId,jdbcType=BIGINT},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="confidence != null" >
        #{confidence,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFaceExample" resultType="java.lang.Integer" >
    select count(*) from tb_snapshot_face
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_snapshot_face
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.snapshotId != null" >
        snapshot_id = #{record.snapshotId,jdbcType=INTEGER},
      </if>
      <if test="record.guestCode != null" >
        guest_code = #{record.guestCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ipcId != null" >
        ipc_id = #{record.ipcId,jdbcType=INTEGER},
      </if>
      <if test="record.galleries != null" >
        galleries = #{record.galleries,jdbcType=VARCHAR},
      </if>
      <if test="record.meta != null" >
        meta = #{record.meta,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null" >
        timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.x1 != null" >
        x1 = #{record.x1,jdbcType=INTEGER},
      </if>
      <if test="record.x2 != null" >
        x2 = #{record.x2,jdbcType=INTEGER},
      </if>
      <if test="record.y1 != null" >
        y1 = #{record.y1,jdbcType=INTEGER},
      </if>
      <if test="record.y2 != null" >
        y2 = #{record.y2,jdbcType=INTEGER},
      </if>
      <if test="record.normalized != null" >
        normalized = #{record.normalized,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.thumbnail != null" >
        thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.photoHash != null" >
        photo_hash = #{record.photoHash,jdbcType=VARCHAR},
      </if>
      <if test="record.personId != null" >
        person_id = #{record.personId,jdbcType=INTEGER},
      </if>
      <if test="record.faceId != null" >
        face_id = #{record.faceId,jdbcType=BIGINT},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.confidence != null" >
        confidence = #{record.confidence,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_snapshot_face
    set id = #{record.id,jdbcType=INTEGER},
      snapshot_id = #{record.snapshotId,jdbcType=INTEGER},
      guest_code = #{record.guestCode,jdbcType=VARCHAR},
      ipc_id = #{record.ipcId,jdbcType=INTEGER},
      galleries = #{record.galleries,jdbcType=VARCHAR},
      meta = #{record.meta,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      x1 = #{record.x1,jdbcType=INTEGER},
      x2 = #{record.x2,jdbcType=INTEGER},
      y1 = #{record.y1,jdbcType=INTEGER},
      y2 = #{record.y2,jdbcType=INTEGER},
      normalized = #{record.normalized,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      photo_hash = #{record.photoHash,jdbcType=VARCHAR},
      person_id = #{record.personId,jdbcType=INTEGER},
      face_id = #{record.faceId,jdbcType=BIGINT},
      gender = #{record.gender,jdbcType=VARCHAR},
      confidence = #{record.confidence,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFace" >
    update tb_snapshot_face
    <set >
      <if test="snapshotId != null" >
        snapshot_id = #{snapshotId,jdbcType=INTEGER},
      </if>
      <if test="guestCode != null" >
        guest_code = #{guestCode,jdbcType=VARCHAR},
      </if>
      <if test="ipcId != null" >
        ipc_id = #{ipcId,jdbcType=INTEGER},
      </if>
      <if test="galleries != null" >
        galleries = #{galleries,jdbcType=VARCHAR},
      </if>
      <if test="meta != null" >
        meta = #{meta,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="x1 != null" >
        x1 = #{x1,jdbcType=INTEGER},
      </if>
      <if test="x2 != null" >
        x2 = #{x2,jdbcType=INTEGER},
      </if>
      <if test="y1 != null" >
        y1 = #{y1,jdbcType=INTEGER},
      </if>
      <if test="y2 != null" >
        y2 = #{y2,jdbcType=INTEGER},
      </if>
      <if test="normalized != null" >
        normalized = #{normalized,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="photoHash != null" >
        photo_hash = #{photoHash,jdbcType=VARCHAR},
      </if>
      <if test="personId != null" >
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="faceId != null" >
        face_id = #{faceId,jdbcType=BIGINT},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="confidence != null" >
        confidence = #{confidence,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anytec.sdproperty.data.model.TbSnapshotFace" >
    update tb_snapshot_face
    set snapshot_id = #{snapshotId,jdbcType=INTEGER},
      guest_code = #{guestCode,jdbcType=VARCHAR},
      ipc_id = #{ipcId,jdbcType=INTEGER},
      galleries = #{galleries,jdbcType=VARCHAR},
      meta = #{meta,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      x1 = #{x1,jdbcType=INTEGER},
      x2 = #{x2,jdbcType=INTEGER},
      y1 = #{y1,jdbcType=INTEGER},
      y2 = #{y2,jdbcType=INTEGER},
      normalized = #{normalized,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      photo_hash = #{photoHash,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=INTEGER},
      face_id = #{faceId,jdbcType=BIGINT},
      gender = #{gender,jdbcType=VARCHAR},
      confidence = #{confidence,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>